.DS_Store
# Ignore auth file
.auth
#env
.env*
!.env.example
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
#allure report
/allure-results
/allure-report
