# This is a basic workflow that is manually triggered

name: Manual Trigger Event

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      browser:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Select browser run test'
        # Default value if no value is explicitly provided
        default: 'chrome'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: choice
        options:
          - chromium
          - firefox
          - webkit
          - all

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ubuntu-run:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        # Control git fetch commit, 20 mean clone the last 20 commits, use for check file changes
        with:
          fetch-depth: 20

      - name: NPM install
        uses: ./.github/actions/install-run
        # Require shell type when use composite action and handle different OS window/linux
        with:
          SHELL_TYPE: 'bash'

      - name: Run Playwright tests
        uses: ./.github/actions/playwright-run
        with:
          SHELL_TYPE: 'bash'
          OS_RUN: 'Ubuntu'
          BROWSER_RUN: ${{ github.event.inputs.browser}}

      # Danger check
